# Distribution files
build/
dist/
pyani.egg-info/
distribute*

# Compiled Python modules
*.pyc

# RTD documentation building
docs/_build/
docs/make.bat

# MyPy cache
.mypy_cache/

# Coverage test output
cover/
htmlcov/
.coverage
.coverage.*
