autopep8
bandit
beautifulsoup4
biopython
black
coverage
flake8
html5lib
lxml
matplotlib
mechanicalsoup
mypy
pandas
pydocstyle
pycodestyle
pylint
pytest
pytest-cov
pytest-ordering
sphinx
sphinx-rtd-theme
tqdm